h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  font-style: italic;
  display: inline;
  
}
.body_comp{
  border: 2px solid rgb(181, 84, 84);
  border-radius:10px ;
  background-color: rgb(230, 198, 198);
}

.req::after{
  content: " *";
  color: red;
  font-size: 20px;
}


/* .textfield-area{
  margin-right : "50px";
  width:20vw;
} */